/**
 * web-audio-stats styles.
 */

.wa-stats {
	position: relative;
	display: inline-block;
}

/** Canvas style is read in code, so adjust painting style by varying color and size */
.wa-stats-canvas{
	display: block;
	width: 200px;
	height: 100px;
}

/** Decorative elements repeat canvas’s size */
.wa-stats-grid{
	position: absolute;
	width: 200px;
	height: 100px;
	top: 0;
	left: 0;
	opacity: .2;
}
.wa-stats-line{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
}
.wa-stats-line-h{
	border-right: 1px dotted;
	height: 100%;
	width: 0px;
}
.wa-stats-line-h:after{
	content: attr(data-frequency);
	position: absolute;
	bottom: -15px;
	left: 0;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
}
.wa-stats-line-v{
	border-bottom: 1px dotted;
	width: 100%;
	top: auto;
	height: 0;
}
.wa-stats-line-v:after{
	content: attr(data-magnitude);
	position: absolute;
	left: -20px;
	top: -6px;
	height: 15px;
	line-height: 15px;
	font-size: 12px;
}