/**
 * web-audio-stats styles.
 */

.wa-stats {
	position: relative;
	display: inline-block;
}

/** Canvas style is read in code, so adjust painting style by varying color and size */
.wa-stats-canvas{
	display: block;
	width: 200px;
	height: 100px;
}

/** Decorative elements repeat canvas’s size */
.wa-stats-grid{
	position: absolute;
	width: 200px;
	height: 100px;
	top: 0;
	left: 0;
	opacity: .2;
}
.wa-stats-line{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
}
.wa-stats-line-h{
	border-right: 1px dotted;
	height: 100%;
}
.wa-stats-line-v{
	border-bottom: 1px dotted;
	width: 100%;
}

.wa-stats-labels {
	position: relative;
	display: block;
	width: 200px;
	font-size: 11px;
}
.wa-stats-label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -1ex;
}